/* Styles for AT Koda */
body {
font-family:Verdana,Geneva,"DejaVu Sans",sans-serif;
margin:0;
padding:0 10px;
}

blockquote {
background:url(images/blockquote.png) no-repeat left top;
padding-left:2em;
}

a {
margin:0;
padding:0;
}

a:link,a:visited {
color:#0F6FAE;
text-decoration:none;
}

a:hover,a:active,a.active {
color:#5AA427;
text-decoration:underline;
}

a:active,a:focus {
color:#5AA427;
border:0;
}

a img {
border:none;
}

.article .content a:link,
.article .content a:visited,
.comment .content a:link,
.comment .content a:visited {
color:#5AA427;
text-decoration:underline;
}

.article .content a:hover,
.article .content a:active,
.comment .content a:hover,
.comment .content a:active{
text-decoration:none;
}

/* Blocks */
.block h2 {
color:#003456;
font-size:1.167em;
line-height:1.167;
padding:3px 0 2px 10px;
}

.block .content {
background:#FFF;
margin:0;
padding:2px 10px 10px;
}

/* Skinr block styles */
.dblue-block .block-inner {
background: url(images/dblue-sprite.png) repeat-x 0 -29px;
}

.dblue-block .title-wrapper {
background: url(images/dblue-sprite.png) no-repeat right -58px;
}

.dblue-block h2 {
color:#FFF;
background:url(images/dblue-sprite.png) no-repeat left top;
}

.dblue-block .content,
.lblue-block .content {
border:1px solid #E3EAEE;
border-top:none;
}

.lblue-block .block-inner {
background: url(images/lblue-sprite.png) repeat-x 0 -30px;
}

.lblue-block .title-wrapper {
background: url(images/lblue-sprite.png) no-repeat right -59px;
}

.lblue-block h2 {
background:url(images/lblue-sprite.png) no-repeat left top;
}

.sblue-block .block-inner {
background:#379DDF url(images/user_bg.gif) repeat-x 0 0;
color: #FFF;
padding: 10px;
}

.sblue-block .content {
background: transparent;
}

.sblue-block .content a:link,
.sblue-block .content a:visited {
color: #FFF;
text-decoration: underline;
}

.sblue-block .content ul.menu li a:link,
.sblue-block .content ul.menu li a:visited {
color: #FFF;
text-decoration: none;
}

.sblue-block h2 {
color: #FFF;
}

.at-justify-content .content {
text-align: justify;
}

.block ul.item-list {
margin:0;
padding:0;
}

.block ul.item-list li {
color:#8FAEBF;
list-style: none;
padding:0 0 0.5em;
}

#header-blocks .block {
margin-bottom:0;
}

#block-activitystream-0 ul {
margin:0;
}

#block-activitystream-0 ul li {
list-style:none;
margin-left:0;
}

#search-block-form label {
position:absolute;
top:-9999em;
left:auto;
width:1px;
height:1px;
overflow:hidden;
}

ul.menu {
margin:0 0 10px;
padding:0;
}

ul.menu ul,ul.menu ul ul,ul.menu ul ul ul {
margin:0 0 0 0.75em;
padding:0;
}

ul.menu li {
list-style:none;
list-style-image:none;
border-bottom: 1px solid #E3EAEE;
padding: 0.3em 0.5em 0.45em 0
}

ul.menu ul li,
ul.menu ul ul li,
ul.menu ul ul ul li {
border-bottom: none;
}

ul.menu li a {
background:transparent url(images/bullet_menu.gif) no-repeat scroll 0 4px;
padding-left:12px;
}

ul.menu li a:link,
ul.menu li a:visited {
color:#003456;
font-size: 0.94em;
text-decoration:none;
}

ul.menu li a:hover,
ul.menu li a.active {
text-decoration:underline;
}

ul.menu li a:active,
ul.menu li a:focus {
color:#5AA427;
border:0;
}

/* Comments */
.comment {
margin:0 0 1em;
}

.comment .indented {
margin-left:2em;
}

.comment h3 .new {
color:#FF8000;
}

.comment h3 a:link,
.comment h3 a:visited,
.comment h3 a:active {
color:#0F6FAE;
text-decoration:none;
}

.comment h3 a:hover {
text-decoration:underline;
}

.comment .user-picture img {
border:1px solid #E3EAEE;
float:right;
margin:0 0 0 6px;
padding:4px;
}

.comment ul.links {
display:block;
text-align:right;
padding:0 1em 0 0;
}

/* Nodes */
.article {
margin:0 0 3em;
}

.article h2 a:link,.article h2 a:visited,.article h2 a:active {
text-decoration:none;
}

.article h2 a:hover {
color:#198ACF;
}

.article .user-picture img {
border:1px solid #E3EAEE;
float:right;
margin:0 0 0 4px;
padding:4px;
}

p.submitted {
color:#8FAEBF;
margin:0.35em 0 0.5em;
}

.article .taxonomy {
margin:0 0 1em;
overflow:hidden;
}

.article .vocab-name {
float:left;
font-size:1em;
font-weight:bold;
margin-right:0.75em;
width:auto;
color:#222;
}

.article ul.links li {
padding:0 1em 0 0;
}

/* Page */
#container {
padding:10px 0;
}

#header-blocks {
float:left;
margin-left:2em;
}

#skip-nav {
float:right;
font-size:0.94em;
padding-right:20px;
text-align:right;
width:160px;
}

#header {
background:transparent url(images/header.gif) repeat-x scroll 0 0;
height:auto;
margin:0 10px;
position:relative;
}

#header_l {
background:transparent url(images/header_l.gif) no-repeat scroll 0 0;
height:auto;
}

#header_r {
background:transparent url(images/header_r.gif) no-repeat scroll 100% 0;
text-align:left;
padding:6px 12px 15px;
}

#branding {
float:left;
padding:0;
width:300px;
}

#branding h1 {
font-size:1em;
}

.logo-site-name span {
display:block;
}

#site-name {
font-weight:bold;
font-size:2em;
line-height:1;
}

#site-name a:link,
#site-name a:visited {
color:#003456;
text-decoration:none;
}

#search-box {
float:right;
padding:0;
width:360px;
}

#search-theme-form {
margin:1.5em 0;
}

#search-theme-form label {
color:#8FAEBF;
}

#edit-search-theme-form-1 {
width:160px;
}

#edit-search-theme-form-1,
#edit-search-theme-form-1:focus {
background: #FFF url(images/input_bg.gif) no-repeat 0 0;
}

#nav {
background:transparent url(images/top_menu_bg.gif) repeat-x scroll 0 0;
height:30px;
margin:0 10px 10px;
}

#nav ul {
font-weight:bold;
height:30px;
margin:0;
padding:0;
}

#nav .primary-links li {
display:inline;
list-style:none;
float:left;
margin:0;
padding:0;
}

#nav ul li a {
color:#FFF;
font-weight:bold;
line-height:30px;
text-decoration:none;
display:block;
padding:0 12px;
}

#nav ul li a:hover,#nav ul li a:focus {
color:#003456;
background:url(images/primary_hover.gif) repeat-x left top;
}

#nav .primary-links li.active {
text-decoration:underline;
color:#FFF;
}

/* Superfish Default Style: http://drupal.org/project/superfish */
.sf-style-default {
float: left;
height: 30px;
line-height: 30px;
margin-bottom: 0;
}

.sf-style-default a {
border-left: 0;
border-top: 0;
padding: 0 12px;
text-decoration: none;
}

.sf-style-default a,
.sf-style-default a:visited {
color: #FFF;
}

.sf-style-default li {
background: transparent;
}

.sf-style-default li li {
background: #0F6FAE;
}

.sf-style-default li:hover, 
.sf-style-default li.sfHover, 
.sf-style-default a:focus, 
.sf-style-default a:hover, 
.sf-style-default a:active {
background:#0F6FAE;
outline:0;
}

#secondary .secondary-links {
font-weight:bold;
margin:0 0 0.5em;
padding:0;
}

#secondary .secondary-links li {
display:inline;
list-style:none;
margin:0 1em 0 0;
padding:0;
}

#secondary .secondary-links li a {
text-decoration:none;
white-space:nowrap;
}

#breadcrumb {
padding:0 10px 10px;
}

#mission {
font-weight:bold;
color:#003456;
margin:0 0 1.5em;
}

.item-list ul.pager li {
margin:0;
}

#footer {
background-color:#EEF2F6;
border:1px solid #C7D5DD;
margin:0;
padding:10px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

#attribution,
#attribution a {
color:#C7D5DD;
padding:10px 0;
text-align:center;
}

#attribution p {
margin-bottom:0;
}

.feed-icon img {
padding:0 10px;
}
